SUPABASE_URL=https://tumbmgnxrovmverpulbo.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1bWJtZ254cm92bXZlcnB1bGJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMzg3MDMsImV4cCI6MjA5MjcxNDcwM30.2W_t4HBZ1hLe1xUFw7byVDgpbaVfN_IOjZXAD7st2G8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1bWJtZ254cm92bXZlcnB1bGJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzEzODcwMywiZXhwIjoyMDkyNzE0NzAzfQ.U3x2lBKeiEXAoI0W2olir8Y721oqEXOO7QTP_s6YNog
